<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Sign Interpreter</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            var textarea = document.getElementById('translation');

            socket.on('hand_sign', function(data) {
                let currentText = textarea.value;
                if (data.sign === 'delete') {
                    textarea.value = currentText.slice(0, -1);
                } else if (data.sign === 'space') {
                    textarea.value = currentText + ' ';
                } else {
                    textarea.value = currentText + data.sign;
                }
            });
        });
    </script>
</head>
<body>
    <h1>Hand Sign Interpreter</h1>
    <div>
        <img src="{{ url_for('video_feed') }}" width="800">
    </div>
    <textarea id="translation" rows="10" cols="50" readonly></textarea>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hand Sign Interpreter</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        var socket = io.connect(
          "http://" + document.domain + ":" + location.port
        );
        var textarea = document.getElementById("translation");

        socket.on("update_sentence", function (data) {
          textarea.value = data.sentence;
        });
      });
    </script>
  </head>
  <body>
    <h1>Hand Sign Interpreter</h1>
    <div>
      <img src="{{ url_for('video_feed') }}" width="800" />
    </div>
    <textarea id="translation" rows="10" cols="50" readonly></textarea>
  </body>
</html>
